
body {
    background: #64A70B;
}

/* Logo */
.logo{
    font-family: Roboto, serif;
    font-size: 31.82px;
    font-weight: 500;
    line-height: 31.82px;
    text-align: left;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 11px;

    position: absolute;
    width: 157px;
    height: 40px;
    left: calc(50% - 157px/2 - 1px);
    top: calc(50% - 40px/2);
}

.bank-card-double{
    width: 40px;
    height: 40px;
}


