.table-row-line{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: start;*/
    /*justify-content: start;*/
    text-align: center;

    /*---------------------------------------*/
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #667085;

}

/*td:nth-child(1){*/
/*    width: 12%;*/
/*}*/
/*td:nth-child(2) {*/
/*    width: 12%;*/
/*}*/
/*td:nth-child(3){*/
/*    width: 12%;*/
/*}*/
/*td:nth-child(4) {*/
/*    width: 12%;*/
/*}*/
/*td:nth-child(5){*/
/*    width: 12%;*/
/*}*/
/*td:nth-child(6) {*/
/*    width: 12%;*/
/*}*/
/*td:nth-child(7){*/
/*    width: 12%;*/
/*}*/
/*td:nth-child(8){*/
/*    width: 12%;*/
/*}*/

.button-table-row-valid{
    width: 85px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #EAECF0;
    background-color: #64A70B;
    border-style: solid;
    border-radius: 5px;
}

.button-table-row-invalid {

    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/

    /*height: 20px;*/
    /*width: 113px;*/

    font-family: 'Inter', sans-serif;
    /*font-style: 12px;*/
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #EAECF0;
    background-color: #FF6666;
    border-style: solid;
    /*margin-top: 11px;*/

    /*padding: 2px 8px 2px 6px;*/
    /*gap: 6px;*/
    border-radius: 5px;

    width: 85px;
    /*min-width: 80px;*/
    /*height: 25px;*/
}

.button-table-row-invalid:hover{
    cursor: pointer;
}

.button-table-row-valid:hover{
    cursor: pointer;
}