.modal-valid-header{
    display: flex;
    flex-direction: row;
    align-items: start;

    /* Text */
    width: 578px;
    height: 28px;

    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #191D2F;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    gap: 16px;

    border-bottom: 1px solid #D7E9E1;
    margin-bottom: 20px;
}

.modal-valid-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.modal-valid-body-aligner1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modal-tab-title{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height, or 136% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #64A70B;

    border-bottom: 2px solid #64A70B;

}

.modal-tab-title-invalid{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height, or 136% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #FF6666;

    border-bottom: 2px solid #FF6666;

}