/* Header */

.validation-screen-header{
    box-sizing: border-box;
     /*Auto layout*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;

    /*position: absolute;*/
    height: 50px;
    /*left: 285px;*/
    /*right: 48px;*/
    /*top: 0px;*/

    border-bottom: 1.5px solid #64A70B;
    margin-bottom: 22px;
}

/* logo */

.header-text{
    width: 310px;
    height: 14px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;

    leading-trim: both;
    text-edge: cap;

    display: flex;
    flex-direction: row;
    align-items: start;

    color: #64A70B;
}

.validation-main-card-column{
    /* Rectangle 40318 */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    /*align-items: start;*/
    column-gap: 4vw;
    /*flex-wrap: wrap;*/
}

.validation-autofilled-div{
    display: flex;
    flex-direction: column;
    align-items: start;
    /*margin: 20px;*/
    gap: 1vw;
}

.validation-autofilled-card{
    border: 1px solid #64A70B;
    border-radius: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    /*margin-right: 1vw;*/
}

.Toastify__toast--success {
    border: 1px solid #3A9EA5 !important;
    border-radius: 10px !important;
    background: #34651B !important;
}

.Toastify__toast--success::before {
    /*content: url("../assets/images/svg/successToast.svg");// Your svg Path*/
position:relative;
    z-index:100000;
    left:12px;
    top:6px;
}

.Toastify__toast--success::after {
    /*content : url('../assets/images/svg/closeToast.svg');// Your svg Path*/
position: absolute;
    color: #333333;
    font-size: 15px;
    font-weight: 700;
    left:265px;
    padding-top: 14px !important;
}

.Toastify__toast--error {
    border: 1px solid #EB5757;
    border-radius: 10px !important;
    background: #CA3A31 !important;
}
.Toastify__toast--error::after {
    /*content : url('../assets/images/svg/closeToast.svg'); // Your svg Path*/
position: absolute;
    color: #333333;
    font-size: 15px;
    font-weight: 700;
    left:265px;
    padding-top: 14px !important;
}
.Toastify__toast--error::before {
    /*content: url("../assets/images/svg/errorToast.svg");// Your svg Path*/
position:relative;
    z-index:100000;
    left:12px;
    top:6px;
}