.container{
    width: 440px;
    
}
.container h1{
    font-size: 24px;
    color:#495057;
}

.container .input-field{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 24px auto;
}

.input-field input{
    width: 100%;
    height: 100%;
    border-radius:10px;
    background: #ffff;
    border: 2px solid #ADB5BD;
    font-size: 14px;
    color: #343A40;
    outline: none;

}

.container button{
    width: 100%;
    height: 50px;
    border-radius:12px;
    border: none;
    background-color: #64A70B;
    font-size: 16px;
    
}
.input-field input::placeholder{
    color: #495057;
}

.container .signup-link{
    font-size: 16px;
    text-align: center;
    margin: 16px 0 48px;
}
.signup-link p a{
    color: #64A70B;
    text-decoration: none; /*retira o traço abaixo do "crie uma senhha*/
}
