.button-primary{
    /* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 24px;

width: 440px;
height: 54px;

background: #64A70B;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.button-text{
    /* Label */

width: 44px;
height: 11px;

/* Button/Large */
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.5px;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


}